body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255, 246, 236, 1) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
}